@import '../../styles/variables';

.decagon {
    background: $color-white;
    padding: 6em 11em;

    @media (max-width:800px){
        padding: 6em 2em;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $decagon-blue-100;

    @media (max-width:800px){
        flex-direction: column;
    }
    &_Left{
        overflow: hidden;
        width: 46%;
        img {
            width: 100%;
        }

        @media (max-width:800px){
            width: 95%;
            margin-bottom: 4rem;
        }
    }
    &_Right{
        width: 46%;
        @media (max-width:800px){
            width: 95%;
            text-align: center;
        }
        h1 {
            font-size: 5rem;
            font-weight: 400;
            margin-bottom: 4rem;
            @media (max-width:800px){
                font-size: 4rem;
            }
           
        }

        p {
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 2.5rem;
            margin-bottom: 3rem;
        }
    }
}