@import '../../styles/variables';

.button {
    border: none;
    cursor: pointer;
    padding: .9em 2.3em;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 500;
    outline-width: 0;
    transition: all .3s ease-in;

    @media (max-width:400px) {
        padding: .4em 1em;
    }
    &Small{
        width: max-content;
    }

    &Full {
        width: 100%;
    }

    &Green {
        background: linear-gradient(96.67deg, $decagon-green-200 0%, $decagon-green-100 100%);
        color: $color-white;
       
        &:hover{
            background: $color-white;
            color: $decagon-green-200;
        }
    }

    &White {
        background: $color-white;
        color: $decagon-green-200;
        &:hover{
            background: linear-gradient(96.67deg, $decagon-green-200 0%, $decagon-green-100 100%);
            color: $color-white;
        }
    }
    
}
