$decagon-green-100: #B8D344;
$decagon-green-200: #34A853;
$decagon-blue : #2D2F48; 
$decagon-blue-100: #21334F;
$color-white: #fff;

$background-grey: rgba(33, 51, 79, 0.04);
$very-dark-desaturated-blue: hsl(238, 29%, 16%);

$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

$light-grayish-blue: hsl(240, 5%, 91%);
