@import '../../styles/variables';


.alumni {
    background: $color-white;
    position: relative;
    padding: 8em 13em;
    padding-top: 10em;
    color: $decagon-blue-100;
    @media (max-width:916px) {
        padding: 8em 3em;
     }
  

    &_testimonial {
        width: 48%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width:916px) {
           margin-bottom: 3rem;
           width: 100%;
        }
    }
    &::after{
        content: url(../../assets/svg/QuotesIcon.svg);
        height: 3rem;
        width: auto;
        position: absolute;
        top: 15%;
        right: 7%;

        @media (max-width:916px) {
           display: none;
         }
        
    }

    &_header {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 3rem;

        @media (max-width:916px) {
           font-size: 2.8rem;
          }
    }

    &_image {
        border-radius: 50%;
        overflow: hidden;
        height: 5rem;
        width: 5rem;
        margin-right: 1rem;
    }

    &Bio{
        align-self: flex-end;
        display: flex;
        float: right;
        align-items: center;
        @media (max-width:916px) {
            align-self: center;
        }
    }

    &_testimonialContent {
        background: $background-grey-200;
        border-radius: 1rem;
        font-size: 1.5rem;
        padding: 2em;
        // height: 20rem;
        text-align: center;
        display: grid;
        place-content: center;
        line-height: 2.5rem;
        margin-bottom: 3rem;
        position: relative;
        z-index: 100;

        @media (max-width:400px) {
            font-size: 1.5rem;
        }
    }
}


.carousel {
    display: flex;
    justify-content: space-between;

    @media (max-width:916px) {
        flex-direction: column;
        align-items: center;
    }
}