@import '../../styles/variables';


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4em 11em;
    &_homeBtn{
        cursor: pointer;
    }

    @media (max-width:844px) {
        padding: 4em 5em;

    }
}